﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script> *@


    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="~/Scripts/fancybox/jquery.fancybox-1.3.4.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>

  

</head>
<body>
  

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

  @** <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@

    <!-- JavaScript at the bottom for fast page loading -->
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <!-- scripts concatenated and minified via build script -->
 
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/bootstrap-dropdown.js"></script>
    <script src="~/Scripts/bootstrap-scrollspy.js"></script>
    <script src="~/Scripts/bootstrap-tab.js"></script>
    <script src="~/Scripts/bootstrap-collapse.js"></script>
    <script src="~/Scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <!-- end scripts -->

</body>
</html>