﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>
    <title>RESUME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox-1.3.4.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>

    <script src="js/modernizr-2.5.3.min.js"></script>
</head>
<body id="top-section" data-spy="scroll" data-target="#topnav" data-offset="70">
    <div class="container">
        <header>
            <!-- navbar -->
            <div id="topnav" class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                        <!-- Collapse - Everything you want hidden at 940px or less, place within here -->
                        <div class="nav-collapse">
                            <!-- Main nav -->
                            <ul class="nav">
                                <li class="active"><a href="#top-section">Ana Sayfa</a></li>
                                <li><a href="#work-section">Keşfet</a></li>
                                <li><a href="#info-section">Topluluk</a></li>
                                <li><a href="#contact-section">Bize Ulaş</a></li>
                                <li><a href="#create-section">@Html.ActionLink("Yarat","Yarat","Home")</a></li>
                            </ul>
                            <!-- ENDS main nav -->
                            <!-- social -->
                            <ul class="nav pull-right ">
                                <li class="divider-vertical"></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Hesabım <b class="caret"></b> </a>
                                    <ul class="dropdown-menu social-menu">
                                        <li><a href="#"><i class="social-icon twitter"></i> Profilim</a></li>
                                        <li><a href="#"><i class="social-icon facebook"></i> Gelen Kutusu</a></li>
                                        <li><a href="#"><i class="social-icon dribbble"></i> Haber Akışı</a></li>
                                        <li><a href="#"><i class="social-icon forrst"></i> Bildirimler</a></li>
                                        <li><a href="#"><i class="social-icon myspace"></i> Çalışmalarım</a></li>
                                        <li><a href="#"><i class="social-icon vimeo"></i> Kütüphanem</a></li>
                                        <li><a href="#"><i class="social-icon youtube"></i> Ayarlar</a></li>
                                        <li><a href="#"><i class="social-icon tumblr"></i> Çıkış</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- ENDS Social -->
                        </div>
                        <!-- ENDS Collapse -->
                    </div>
                </div>
            </div>
            <!-- ENDS navbar -->
        </header>
        <!-- MAIN -->
        <div id="main" role="main">
            <!-- Hero -->
            <div class="hero-unit">
                <h1>Merhaba, Burası sana ait!</h1>
                <p>Dilediğin bütün hikayeleri görüntüle. Hayal gücüne güveniyorsan, yarat!.</p>
            </div>
            <!-- ENDS hero -->
            <!-- Work -->
            <section id="work-section">
                <div class="page-header">
                    <h1>Okumaya devam et <small>Senin için seçtiklerimiz</small></h1>
                </div>
                <ul class="thumbnails">
                    <li class="span4"> <a href="~/Content/img/dummies/b-01.jpg" class="thumbnail"> <img src="~/Content/img/dummies/01.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span4"> <a href="~/Content/img/dummies/b-02.jpg" class="thumbnail"> <img src="~/Content/img/dummies/02.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span4"> <a href="~/Content/img/dummies/b-03.jpg" class="thumbnail"> <img src="~/Content/img/dummies/03.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                </ul>
                <ul class="thumbnails">
                    <li class="span3"> <a href="~/Content/img/dummies/b-04.jpg" class="thumbnail"> <img src="~/Content/img/dummies/04.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-05.jpg" class="thumbnail"> <img src="~/Content/img/dummies/05.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-06.jpg" class="thumbnail"> <img src="~/Content/img/dummies/06.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-07.jpg" class="thumbnail"> <img src="~/Content/img/dummies/07.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                </ul>
            </section>
            <!-- ENDS work -->
            <!-- Work -->
            <section id="work-section">
                <div class="page-header">
                    <h1>En çok paylaşılanlar <small>Hem de en.</small></h1>
                </div>
              
                <ul class="thumbnails">
                    <li class="span3"> <a href="~/Content/img/dummies/b-04.jpg" class="thumbnail"> <img src="~/Content/img/dummies/04.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-05.jpg" class="thumbnail"> <img src="~/Content/img/dummies/05.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-06.jpg" class="thumbnail"> <img src="~/Content/img/dummies/06.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-07.jpg" class="thumbnail"> <img src="~/Content/img/dummies/07.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                </ul>
            </section>
            <!-- ENDS work -->
            <!-- Work -->
            <section id="work-section">
                <div class="page-header">
                    <h1>Beğendiklerin <small>Kendinle gurur duy</small></h1>
                </div>

                <ul class="thumbnails">
                    <li class="span3"> <a href="~/Content/img/dummies/b-04.jpg" class="thumbnail"> <img src="~/Content/img/dummies/04.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-05.jpg" class="thumbnail"> <img src="~/Content/img/dummies/05.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-06.jpg" class="thumbnail"> <img src="~/Content/img/dummies/06.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-07.jpg" class="thumbnail"> <img src="~/Content/img/dummies/07.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                </ul>
            </section>
            <!-- ENDS work -->

            <!-- Work -->
            <section id="work-section">
                <div class="page-header">
                    <h1>Tamamlanmış hikayeler <small>Soğutmadan oku!</small></h1>
                </div>

                <ul class="thumbnails">
                    <li class="span3"> <a href="~/Content/img/dummies/b-04.jpg" class="thumbnail"> <img src="~/Content/img/dummies/04.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-05.jpg" class="thumbnail"> <img src="~/Content/img/dummies/05.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-06.jpg" class="thumbnail"> <img src="~/Content/img/dummies/06.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                    <li class="span3"> <a href="~/Content/img/dummies/b-07.jpg" class="thumbnail"> <img src="~/Content/img/dummies/07.jpg" alt=""> </a> <span class="thumb-caption">Kitap Adı</span> </li>
                </ul>
            </section>
            <!-- ENDS work -->

            <!-- topluluk -->
            <section id="info-section" class="information">
                <div class="page-header">
                    <h1>Topluluk <small>Bilgi sahibi ol.</small></h1>
                </div>
                <ul id="information-tabs" class="nav nav-pills ">
                    <li><a href="#summary" data-toggle="tab">Takip Ettiklerin</a></li>
                    <li><a href="#skills" data-toggle="tab">Yeteneklerin</a></li>
                    <li><a href="#experience" data-toggle="tab">Deneyimlerin</a></li>
                    <li><a href="#education" data-toggle="tab">Takipçiler</a></li>
                    <li><a href="#awards" data-toggle="tab">Ödüller</a></li>
                </ul>
                <!-- bölümler -->
                <div class="tab-content">
                    <!-- takip ettiklerin -->
                    <div class="summary-section tab-pane active" id="summary">
                        <p><strong>Burada Görünüyor </strong> 
                    </div>
                    <!-- takip ettiklerin bitişi -->
                    <!-- yeteneklerin -->
                    <div class="tab-pane listing" id="skills">
                        <div class="entry">
                            <div class="clearfix">
                                <div class="rating p"> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> </div>
                                <h3 class="heading pull-leasft">Kalem Gücün</h3>
                            </div>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
                        </div>
                        <div class="entry">
                            <div class="clearfix">
                                <div class="rating p"> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star-empty"></i> </div>
                                <h3 class="heading pull-leasft">Hayal Gücün</h3>
                            </div>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
                        </div>
                        <div class="entry">
                            <div class="clearfix">
                                <div class="rating p"> <i class="icon-star"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> </div>
                                <h3 class="heading pull-leasft">Yazım Kuralların</h3>
                            </div>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
                        </div>
                    </div>
                    <!--  yeteneklerin bitişi -->
                    <!-- deneyim -->
                    <div class="tab-pane" id="experience">
                        <p>Burada Görünüyor</p>
                    </div>
                    <!--  deneyim bitişi -->
                    <!-- takipçilerin -->
                    <div class="tab-pane listing" id="education">
                        <div class="entry">
                            <h3 class="heading">Burada Görünüyor</h3>
                            
                        </div>
                    </div>
                    <!--takipçi bitişi  -->
                    <!-- ödüller -->
                    <div class="tab-pane" id="awards">
                        <ul class="awards-list">
                            <li>
                                <h3 class="heading">“En iyi yazar” ödülü </h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                                <a class="btn" href="#">Link</a>
                            </li>
                            <li>
                                <h3 class="heading">“En iyi arkadaş” ödülü </h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                                <a class="btn" href="#">Link</a>
                            </li>
                            <li>
                                <h3 class="heading">“En iyi okuyucu” ödülü</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                                <a class="btn" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                    <!-- ödüller bitişi -->
                </div>
                <!-- geçiş bitişi -->
            </section>
            <!-- ENDS topluluk bitimi -->

            <!-- bize ulaş bölümü -->
            <section id="contact-section">
                <div class="page-header">
                    <h1>Bize Ulaş <small> Get in touch</small></h1>
                </div>
                <div class="row">
                    <!-- satırları -->
                    <div class="span8">
                        <form class="well" id="contactForm" action="#" method="post">
                            <label>Your Name</label>
                            <input type="text" class="input-xlarge" placeholder="Adın nedir ?" name="name" id="name">
                            <label>Your Email</label>
                            <input type="text" class="input-xlarge" placeholder="Sana nasıl ulaşabiliriz ?" name="email" id="email">                     
                            <label>Anlat Bize.</label>
                            <textarea class="input-xxlarge" rows="4" name="comments" id="comments"></textarea>
                            <p>
                                <input type="button" value="Gönder" name="submit" id="submit" class="btn" />
                            </p>
                        </form>
                        <div id="error" class="alert alert-error">Error</div>
                        <div id="sent-form-msg" class="alert alert-success">Mesajın bize geldi!</div>
                    </div>
                    <!-- yan taraf -->
                    <div class="span4">
                        <ul class="address-block unstyled">
                            <li class="address"><i class="icon-home"></i> Address line, city, state ZIP</li>
                            <li class="phone"><i class="icon-comment"></i> +123 456 789</li>
                            <li class="email"><i class="icon-envelope"></i><a href="#"> info@email.com</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!--  bize ulaş bitti -->
        </div>
        <!-- bölümler bitiyor -->
        <footer>
           
           
        </footer>
    </div>

    <script src="js/jquery-1.7.1.min.js"></script>
   
    <script src="js/plugins.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="js/custom.js"></script>
 
</body>
</html>
